a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: skyblue;
}


.inner-wrap {
    width: 1200px;
    margin: auto;
}

header {
    padding-bottom: 17px;
    border-bottom: 2px solid #000;
    margin-bottom: 48px;
}

h1 {
    margin-top: 47px;
    letter-spacing: 0px;
    font-size: 80px;
    line-height: 1.175;
    font-family: Roboto;
}

.profile-img {
    width: 324px;
    height: 324px;
    margin-bottom: 48px;
}

h2 {
    font-size: 32px;
    line-height: 1.34;
    font-family: Noto Sans;
    font-weight: 500;
    letter-spacing: 0px;
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin-bottom: 16px;
}

.default-eng-title, .dark-theme-eng-title {
    margin-left: 16px;
    font-size: 24px;
    font-family: Roboto;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0px;
}

.default-eng-title {
    color: #A00404;
}

.dark-theme-eng-title {
    color: white;
}

li {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0;
    font-family: Noto Sans;
}

ul + ul {
    margin-top: 24px;
}

.section {
    margin-bottom: 72px;
}

.default-li-spacing li + li {
    margin-top: 24px;
}

.dark-section {
    background: #415165;
    padding-top: 24px;
    padding-bottom: 36px;
}

.dark-theme-title {
    font-family: PingFang TC;
    border-bottom: 1px solid white;
    color: white;
    font-weight: 500;
    max-width: 996px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    text-align: center;
}

.skill-content {
    width: 188px;
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

}

.dark-section ul li {
    color: white;
    font-family: Roboto;
    font-weight: 300;
}

.dark-section ul li + li {
    margin-top: 20px;
}

.work-section-content {
    padding-left: 24px;
    border-left: 1px solid #96A9C4;
}

h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: Noto Sans;
}

.li-inner-item {
    margin-top: 8px;   
}

.work-description {
    font-size: 20px;
    line-height: 1.5;
    font-family: Noto Sans;
    max-width: 642px;
}

.contact-section {
    margin-bottom: 0;
}

.contact-section ul {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.social-icon-ul {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    display: inline;
    width: 48px;
    height: 48px;
}

.social-icon + .social-icon {
    margin-left: 24px;
}


